
html,
#app,
body {
  height: 100%
}
html { overflow-y: hidden; }

/* The sidebar menu */
.sidenav {
  opacity:1;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 16%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 8%; /* Stay at the top */
  left: 0;
  background-color: rgba(0,0,0,0); 
  overflow-x: hidden; /* Disable horizontal scroll */
 color:	#FFFF00
}
/* Style page content */
#map {
  margin-left: 0%;
  height: 100%;
  background-color: lightgray;
}
.menuBox{
     position: fixed;
      top: 50%;
      left:0px;
      background: white;
      background-color:rgba(255,255,0, 0.5);
      height: 10%;
      width: 1%;
      padding: 6px;
      display: block;
      border-top-right-radius:10px;
      border-bottom-right-radius:10px;
      border:0px solid #ccc;
}