<!DOCTYPE html>
<html>

<head>
  <title>超级云雷达</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/openlayers@4.6.4/dist/ol.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
  <link rel="stylesheet" href="./app.css" />

<script type="text/javascript">
try {
var urlhash = window.location.hash;
if (!urlhash.match("fromapp"))
{
if ((navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i)))
{
window.location="mobile.html";
}
}
}
catch(err)
{
}
</script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/openlayers"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="projection.js"></script>
</head>

<body>
  <div id="app">
    <div class="sidenav" id="navBox" style="display:none;" >
      <section class="section">
        <h1>云雷达4.21</h1>
        <p >作者：&nbsp;&nbsp;随</p>
        <!-- <div class="field is-grouped">
          <a class="button is-small">Button</a>
          <a class="button is-small">Button2</a>
        </div> -->
        <label >地图:</label><br>
        <input type="radio" id="erangel" value="erangel" v-model="mapType">
        <label for="erangel">小岛</label>
        <input type="radio" id="miramar" value="miramar" v-model="mapType">
        <label for="miramar">沙漠</label>
        <br>
       
        <label >地图选项:</label><br>
        <input type="checkbox" id="followme" v-model="followMe">
        <label for="followme">视角跟随</label>
        <br>
        <input type="checkbox" id="showbox" v-model="showBox">
        <label for="showbox">显示盒子</label>
        <br>
        <input type="checkbox" id="showairdrop" v-model="showAirDrop">
        <label for="showairdrop">显示空投</label>
        <br>
        <input type="checkbox" id="showcar" v-model="showCar">
        <label for="showcar">显示载具</label>
        <br>
      
        <label v-on:dblclick="showNoItems">物品选项:</label>
		<br>
        <input type="checkbox" id="showBack2" v-model="showBack2"><label for="showBack2">二级包</label>
		<input type="checkbox" id="showBack3" v-model="showBack3"><label for="showBack3">三级包</label>
        <input type="checkbox" id="showArmor2" v-model="showArmor2"><label for="showArmor2">二级甲</label>
          <input type="checkbox" id="showArmor3" v-model="showArmor3"><label for="showBack3">三级甲</label>
          <input type="checkbox" id="showHead2" v-model="showHead2"><label for="showHead2">二级头</label>
          <input type="checkbox" id="showHead3" v-model="showHead3"><label for="showBack3">三级头</label>
          <br>
          <input type="checkbox" id="showFirstAid" v-model="showFirstAid"><label for="showFirstAid">急救</label>
          <input type="checkbox" id="showMedKit" v-model="showMedKit"><label for="showMedKit">医疗</label>
          <input type="checkbox" id="showDrink" v-model="showDrink"><label for="showDrink">饮料</label>
          <br>
          <input type="checkbox" id="showFlashBang" v-model="showFlashBang"><label for="showFlashBang">闪燃</label>
		   <input type="checkbox" id="showGrenade" v-model="showGrenade"><label for="showGrenade">手雷</label>
          <input type="checkbox" id="showSmokeBomb" v-model="showSmokeBomb"><label for="showSmokeBomb">烟雾</label>
          <input type="checkbox" id="showAmmo556" v-model="showAmmo556"><label for="showAmmo556">5.56</label>
          <input type="checkbox" id="showAmmo762" v-model="showAmmo762"><label for="showAmmo762">7.62</label>
          <br>
          <input type="checkbox" id="showLowST" v-model="showLowST"><label for="showLowST">基础镜</label>
          <input type="checkbox" id="showHighST" v-model="showHighST"><label for="showHighST">高倍镜</label>
          <br>

          <input type="checkbox" id="showARCnFH" v-model="showARCnFH"><label for="showARCnFH">步枪其他</label>
          <input type="checkbox" id="showARSuppressor" v-model="showARSuppressor"><label for="showARSuppressor">步消音</label>
     
          <br>

          <input type="checkbox" id="showSRFlashHider" v-model="showSRFlashHider"><label for="showSRFlashHider">狙其他</label>
          <input type="checkbox" id="showSRSuppressor" v-model="showSRSuppressor"><label for="showSRSuppressor">狙消音</label>
       
          <br>

          <input type="checkbox" id="showM16A4" v-model="showM16A4"><label for="showM16A4">m16</label>
          <input type="checkbox" id="showSCAR" v-model="showSCAR"><label for="showSCAR">scar</label>
          <input type="checkbox" id="showHK416" v-model="showHK416"><label for="showHK416">m4</label>
          <input type="checkbox" id="showAK47" v-model="showAK47"><label for="showAK47">akm</label>
          <br>
          <input type="checkbox" id="showMini14" v-model="showMini14"><label for="showMini14">mini</label>
          <input type="checkbox" id="showSKS" v-model="showSKS"><label for="showSKS">sks</label>
          <input type="checkbox" id="showKar98k" v-model="showKar98k"><label for="showKar98k">98k　</label>
          <input type="checkbox" id="showPan" v-model="showPan"><label for="showPan">平底锅</label>

        <hr>
        <input type="checkbox" id="showitemall" v-model="showItemAll">
        <label for="showitemall">所有</label>
        <hr>
        <a class="button is-small" @click="setFPS(30)">fps30</a>
        <a class="button is-small" @click="setFPS(5)">fps5</a>
        <a class="button is-small" @click="setFPS(15)">fps15</a>
        <a class="button is-small" @click="setFPS(60)">fps60</a>
        <!-- <a class="button is-small" @click="toggleRefresh">{{ toggleButtonText }}</a>
        <br> -->
        <br>
        <br>
        <span>Game Start: {{ gameStartTime }}</span>
        <br>
        <span>Last Packet: {{ lastPacketTime }}</span>
        <br>
        <span>{{ coordinate }}</span>
      </section>

    </div>
    <div id="map"></div>

  </div>
 <div class="menuBox" id="menuBox"></div>
 <script src="app.js"></script>
  <script src="menubox.js"></script>
</body>

</html>
